@import "tailwindcss";

@theme {
    --font-code: 'Fira Code', monospace;
}

@layer base {
    body {
        @apply bg-white text-gray-800 text-sm sm:text-base;
        font-family: var(--font-code);
    }

    header, main {
        @apply shadow-sm p-5 sm:p-7 md:p-8;
    }

    footer {
        @apply shadow-sm p-3;
    }

    h2 {
        @apply text-xl sm:text-2xl font-bold my-2;
    }

    p {
        @apply text-gray-700;
    }

    button {
        @apply px-4 py-2 mt-8 bg-neutral-50 hover:bg-neutral-100 rounded-md shadow-md;
    }

    .flip-card-back,
    .flip-card-front {
        @apply flex flex-col justify-between;
    }

    .flip-card-wrapper {
        @apply shadow-lg h-[500px] sm:h-[600px];
        ;
    }

    .flip-card-front {
        @apply rounded-lg p-5;
    }

    a {
        @apply underline p-2;
    }

    a:hover {
        @apply bg-neutral-200;
    }
}

@layer components {
    .flip-card-wrapper {
        position: relative;
        z-index: 1;
        perspective: 1000px;
        transform: perspective(1000px);
        transform-style: preserve-3d;
        width: 450px;
        overflow: hidden;
    }

    .flip-card-wrapper .flip-card-front {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        inset: 0;
        backface-visibility: hidden;
        transform: rotateY(0deg);
        transition: transform 0.8s ease;
        border: 1px solid var(--color-gray-300);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow: hidden;
    }

    .flip-card-wrapper .flip-card-back {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        inset: 0;
        backface-visibility: hidden;
        transform: rotateY(-180deg);
        padding: 32px;
        border: 1px solid var(--color-gray-300);
        transition: transform 0.8s ease;
        overflow: hidden;
    }

    .flip-card-wrapper .flip-card-front img {
        width: 100%;
        height: auto;
        max-height: 60%;
        object-fit: cover;
        display: block;
    }

    .flip-card-wrapper .flip-card-front button {
        margin-top: 1rem;
        /* reduce global mt-8 inside flip cards */
    }
}

@utility flex-wrap {
    @apply flex gap-5;
}